.vscode
.idea/discord.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jarRepositories.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_4_5.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_4_5.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_14_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_14_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_14_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_14_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_14_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_14_1.xml
.idea/libraries/Maven__com_mysql_mysql_connector_j_8_0_31.xml
.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_4_1_1.xml
.idea/libraries/Maven__com_zaxxer_HikariCP_5_0_1.xml
.idea/libraries/Maven__io_micrometer_micrometer_commons_1_10_2.xml
.idea/libraries/Maven__io_micrometer_micrometer_observation_1_10_2.xml
.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_2_1_0.xml
.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_2_1_1.xml
.idea/libraries/Maven__jakarta_inject_jakarta_inject_api_2_0_0.xml
.idea/libraries/Maven__jakarta_persistence_jakarta_persistence_api_3_1_0.xml
.idea/libraries/Maven__jakarta_transaction_jakarta_transaction_api_2_0_1.xml
.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_4_0_0.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_19.xml
.idea/libraries/Maven__org_antlr_antlr4_runtime_4_10_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_19_0.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_19_0.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_10_1_1.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_10_1_1.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_10_1_1.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_9_9_1.xml
.idea/libraries/Maven__org_attoparser_attoparser_2_0_6_RELEASE.xml
.idea/libraries/Maven__org_eclipse_angus_angus_activation_1_0_0.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_core_4_0_1.xml
.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_4_0_1.xml
.idea/libraries/Maven__org_glassfish_jaxb_txw2_4_0_1.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_6_0_2_Final.xml
.idea/libraries/Maven__org_hibernate_orm_hibernate_core_6_1_5_Final.xml
.idea/libraries/Maven__org_jboss_jandex_2_4_2_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_5_0_Final.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_2_0_4.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_2_0_4.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_devtools_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_thymeleaf_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_3_0_0.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_3_0_0.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_3_0_0.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_3_0_0.xml
.idea/libraries/Maven__org_springframework_spring_aop_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_aspects_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_beans_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_context_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_core_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_expression_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_jcl_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_orm_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_tx_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_web_6_0_2.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_6_0_2.xml
.idea/libraries/Maven__org_thymeleaf_thymeleaf_3_1_0_RELEASE.xml
.idea/libraries/Maven__org_thymeleaf_thymeleaf_spring6_3_1_0_RELEASE.xml
.idea/libraries/Maven__org_unbescape_unbescape_1_1_6_RELEASE.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_33.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/ProjecteBotiga.iml
.idea/vcs.xml
back/esquelet-BotigaInformatica/esquelet-BotigaInformatica.iml
back/esquelet-BotigaInformatica/src/main/resources/application.properties
*.properties
public/esquelet-BotigaInformatica/src/main/resources/application.properties
private/quasar/.env.dev-miquelangel
