<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout.html :: head"></head>
  <body>
    <header th:replace="layout/layout.html :: header"></header>
    <main class="container">
      <div class="col-12 row">
        <div class="col-6 justify-content-center">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner imgSizeArticle">
              <div th:each="foto : ${imatges}" th:if="${propietats.id == foto.propietats.id}" class="carousel-item">
                <img
                  th:id="${foto.id}"
                  class="d-block imgSizeArticle"
                  alt="img"
                  th:src="@{/img/productes/{article}/{prop}/{foto}(article=${propietats.article.id},prop=${propietats.id},foto=${foto.path})}"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev text-dark"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next text-dark"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="d-flex flex-column col-md-6 col-sm-12">
          <h1 th:text="${propietats.article.nom}"></h1>
          <p
            th:text="'Marca: ' + ${propietats.article.marca.name} + ' - P/N: ' + ${propietats.article.marca.cif} "
          ></p>

          <h1>PROPIETATS</h1>
          <p th:text="'Preu: ' + ${propietats.preu}"></p>
          <p th:text="'Stock: ' + ${propietats.stock}"></p>
              <span th:each="prop : ${propietats.valor}">
                <p th:text="${prop.propietat.nom} +': ' + ${prop.valor}"></p>
              </span>
        </div>
        <div class="d-flex justify-content-evenly">
          <button class="btn btn-pc-economic-light">Me Gusta</button>
          <button class="btn btn-pc-economic-light">Añadir al Carrito</button>
          <button class="btn btn-pc-economic-dark">Comprar</button>
        </div>
      </div>

      <div>
        <h2>Descripción</h2>
        <p th:text="${propietats.article.descripcio}"></p>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.6.2.min.js"
      integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        $(".carousel-item:first").addClass("active");
      });
    </script>

    <footer th:replace="layout/layout :: footer"></footer>
  </body>
</html>
