<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: head"></head>
<body>

    <header th:replace="layout/layout.html :: header"></header>
    <main>
        <span th:each="foto : ${article.imatges}">
            <img th:src="${foto.getPath()}" alt="...">
        </span>
        <p th:text="'Nom: ' + ${article.nom}"></p>
        <p th:text="'Descripcio: ' + ${article.descripcio}"></p>
        <p th:text="'Pes: ' + ${article.pes} + 'Kg'"></p>
        <p th:text="'StockTotal: ' + ${article.stockTotal}"></p>
    </main>
    <footer th:replace="layout/layout.html :: footer"></footer>
</body>
</html>