<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: head(title='Contraseña Olvidada | PCEconomic', description='Pagina de reseteo de contraseña de PCEconomic')"></head>
<body class="bgbd">
    <header th:replace="layout/layout :: header2"></header>
    <main class="container bg-cont mt-5 p-3">
        <h1 class="text-center">Nueva Contraseña</h1>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <form method="post" novalidate class="needs-validation col-sm-12 col-xl-5"
                  th:action="@{/changepassword/{token}(token=${token})}"
                  th:object="${changePasswordForm}">
                <div class="row">
                    <div class="col-12">
                        <label for="password" class="form-label">Contraseña</label>
                        <input class="form-control" id="password" type="password" th:field="*{newPassword}" required>
                    </div>
                    <div class="col-12">
                        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                        <input class="form-control" id="confirmPassword" type="password" th:field="*{confirmPassword}"
                               required>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-pc-economic-dark">Enviar</button>
                    </div>
                </div>
                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('newPassword')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{newPassword}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('confirmPassword')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{confirmPassword}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${passwordmatch != null}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:text="${passwordmatch}"></span>
                </div>
            </form>
        </div>
    </main>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>