<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: head(title=' Pasarela de pago | PCEconomic ', description='Pasarela de pago para la pagina de PCEconomic')"></head>
<body class="bgbd">
<header th:replace="layout/layout :: header2"></header>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=EUR"></script>

<main class="container-lg bg-cont mt-md-5 mt-1 row justify-content-around p-4">

    <h1 class="text-center mt-5 mb-5">Metodos de pago</h1>

    <div class="col-6">
        <div class="row">
            <span class="h4 col-6 mb-4 text-pc-economic-dark">Subtotal artículos</span>
            <span class="col-6 mb-4 text-center text-pc-economic-light h4" id="subtotal"> - </span>
            <span class="h4 col-6 text-pc-economic-dark">Envío estimado PcEconomic</span>
            <span class="col-6 text-center text-pc-economic-light h4" id="envio"> - </span>
            <div id="error" class="mt-2 mb-2"></div>
            <hr class="border border-2 opacity-50 mt-2 col-11">
            <span class="h3 mt-2 col-6">Total (impuestos incluidos) </span>
            <span class="text-pc-economic-dark mt-2 h3 col-6 text-center" id="total"> - </span>
        </div>
    </div>

    <div class="col-6">
        <div id="paypal-button-container"></div>
    </div>

</main>

<footer th:replace="layout/layout.html :: footer"></footer>
</body>
<div th:replace="layout/layout.html :: jquery"></div>

<script>
    $.ajax({
        url: "/api/carrito",
        type: "GET",
        success: function (props) {
            console.log(props);
            $("#subtotal").text(formatDoubleToEuros(props.total));
            $("#envio").text(formatDoubleToEuros(props.preuTransport));
            $("#total").text(formatDoubleToEuros(props.preuTotal));

            paypal.Buttons({
                // Sets up the transaction when a.html payment button is clicked
                createOrder: (data, actions) => {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: formatDouble(props.preuTotal) // Can also reference a.html variable or function
                            }
                        }]
                    });
                },
                // Finalize the transaction after payer approval
                onApprove: (data, actions) => {
                    return actions.order.capture().then(function (orderData) {
                        // Successful capture! For dev/demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        const transaction = orderData.purchase_units[0].payments.captures[0];

                        // redirect with post
                        var form = $('<form action="/pagament" method="post">' +
                            '<input type="hidden" name="status" value="' + transaction.status + '" />' +
                            '<input type="hidden" name="paymentMethod" value="PAYPAL" />' +
                            '</form>');
                        $('body').append(form);
                        form.submit();
                    });
                }
            }).render('#paypal-button-container');
        }
    });

    function formatDouble(value) {
        return value.toFixed(2);
    }

    function formatDoubleToEuros(value) {
        return value.toFixed(2).replace(".", ",") + " €";
    }

</script>

</html>