<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: head"></head>
<head>
    <title th:text="' Pasarela de pago | PCEconomic '"></title>
</head>
<body class="bgbd">
<header th:replace="layout/layout :: header2"></header>

<main class="container-lg bg-cont mt-md-5 mt-1 row justify-content-around">

    <!-- Como puedo hacer un formulario con redsys? -->


    <form id="payment-form">
        <input type="hidden" name="Ds_Merchant_MerchantCode" value="999008881">
        <input type="hidden" name="Ds_Merchant_Terminal" value="001">
        <input type="hidden" name="Ds_Merchant_Order" value="123456">
        <input type="hidden" name="Ds_Merchant_Amount" value="1000">
        <input type="hidden" name="Ds_Merchant_Currency" value="978">
        <input type="hidden" name="Ds_Merchant_TransactionType" value="0">
        <input type="hidden" name="Ds_Merchant_MerchantURL" value="http://your-merchant-url.com/payment-response">
        <input type="hidden" name="Ds_Merchant_UrlOK" value="http://your-merchant-url.com/payment-success">
        <input type="hidden" name="Ds_Merchant_UrlKO" value="http://your-merchant-url.com/payment-failure">
        <input type="hidden" name="Ds_Merchant_Signature" value="your-transaction-signature">
    </form>

</main>

<footer th:replace="layout/layout.html :: footer"></footer>
</body>
<div th:replace="layout/layout.html :: jquery"></div>


    <script>
        $(document).ready(function() {
            $('#payment-form').submit(function(event) {
                event.preventDefault();

                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: 'http://your-spring-endpoint.com/payment',
                    data: formData,
                    success: function(data) {
                        window.location.href = data.redirectUrl;
                    },
                    error: function(error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>

</html>
