<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: head"></head>
<head>
    <title th:text="' Direcciones i envio | PCEconomic'"></title>
</head>
<body class="bgbd">
<header th:replace="layout/layout :: header2"></header>
<main class="container-lg bg-cont mt-md-5 mt-1 row justify-content-around">
    <h1 class="text-center mt-5 mb-5">Tramitar pedido <span class="h5" id="productos"></span></h1>
    <div class="col-md-6 col-sm-12 mb-3" id="form">
        <h2 class="text-pc-economic-dark h3 text-center"> Escribe la dirección de envío</h2>
        <div class="form-group mt-1 mb-3 row">
            <form class="needs-validation row" onsubmit="return false" novalidate>
                <div class="col-12">
                    <label for="nombre-completo">Nombre completo *</label>
                    <input type="text" class="form-control" id="nombre-completo"
                           placeholder="Introduce el nombre completo" required>
                </div>

                <div class="col-12">
                    <label for="telefono">Teléfono *</label>
                    <input type="text" class="form-control" id="telefono"
                           placeholder="Introduce el teléfono de contacto" required>
                </div>

                <div class="col-12">
                    <label for="email">Email *</label>
                    <input type="text" class="form-control" id="email"
                           placeholder="Introduce el email de contacto" required>
                </div>

                <div class="col-12">
                    <label for="direccion1">Línea de dirección *</label>
                    <input type="text" class="form-control" id="direccion1"
                           placeholder="Nombre y número de la calle" required>
                    <input type="text" class="form-control" id="direccion2"
                           placeholder="Apartamento, suite, unidad, edificio o piso" required>
                </div>

                <div class="col-4">
                    <label for="codigo-postal">Código postal *</label>
                    <input type="text" class="form-control" id="codigo-postal"
                           placeholder="Introduce el código postal" required>
                </div>

                <div class="col-8">
                    <label for="ciudad">Ciudad *</label>
                    <input type="text" class="form-control" id="ciudad"
                           placeholder="Introduce la ciudad" required>
                </div>

                <div class="col-12">
                    <label for="pais">País *</label>
                    <input type="text" class="form-control" id="pais"
                           placeholder="Introduce el país" required>
                </div>

                <div class="col-12">
                    <label for="provincia">Provincia *</label>
                    <input type="text" class="form-control" id="provincia"
                           placeholder="Introduce la provincia" required>
                </div>

                <div class="col-12">
                    <label for="notas">Notas</label>
                    <textarea class="form-control" id="notas" rows="3"
                              placeholder="Introduce notas adicionales"></textarea>
                </div>

                <div class="mt-2 mb-2 col-12">
                    <span class="text-pc-economic-default "> * (campos obligatorios)</span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-pc-economic-dark mt-3" id="enviar">Guardar dirección</button>
                </div>

            </form>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 justify-content-around mb-3" id="info-carrito">
        <div class="row justify-content-center">
            <span class="text-pc-economic-dark h3 text-center mb-4"> Resumen del pedido </span>

            <div class="col-12 row justify-content-around ">
                <div id="prod-carrito"
                     class="col-12 mb-4 text-center text-pc-economic-light row justify-content-around"></div>
                <hr class="border border-2 opacity-50 mt-2 col-11">
                <span class="h4 col-6 mb-4 text-pc-economic-dark">Subtotal artículos</span>
                <span class="col-6 mb-4 text-center text-pc-economic-light h4" id="subtotal"> - </span>
                <span class="h4 col-6 text-pc-economic-dark">Envío estimado PcEconomic</span>
                <span class="col-6 text-center text-pc-economic-light h4" id="envio"> - </span>
                <div id="error" class="mt-2 mb-2"></div>
                <hr class="border border-2 opacity-50 mt-2 col-11">
                <span class="h3 mt-2 col-6">Total (impuestos incluidos) </span>
                <span class="text-pc-economic-dark mt-2 h3 col-6 text-center" id="total"> - </span>
            </div>

            <div id="buy">

            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir
                            Direccion</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form method="post" th:object="${directionForm}" th:action="@{/areaclients/addDirection/buying}" class="needs-validation" novalidate>
                            <div class="row">

                                <div class="col-12">
                                    <label for="fullname">Nombre completo</label>
                                    <input th:field="*{nombre}" class="form-control" type="text" name="direccion"
                                           id="fullname" required
                                           placeholder="Nombre completo"/>
                                </div>

                                <div class="col-12">
                                    <label for="telefon">Telefono</label>
                                    <input th:field="*{telefono}" class="form-control" type="text" name="direccion"
                                           id="telefon" required
                                           placeholder="Telefono"/>
                                </div>

                                <div class="col-12">
                                    <label for="direccion">Linea de direccion 1</label>
                                    <input th:field="*{calle}" class="form-control" type="text" name="direccion2"
                                           required
                                           placeholder="Nombre y numero de la calle"/>
                                    <input th:field="*{direccion}" class="form-control" type="text" name="direccion"
                                           id="direccion" required
                                           placeholder="Apartamento, suite, unidad, edificio o piso"/>

                                </div>

                                <div class="col-6">
                                    <label for="city">Ciudad</label>
                                    <input th:field="*{ciudad}"
                                           class="form-control" type="text" name="ciudad"
                                           id="city" required
                                           placeholder="Ciudad"/>
                                </div>

                                <div class="col-6">
                                    <label for="cp">Codigo Postal</label>
                                    <input th:field="*{codigoPostal}"
                                           class="form-control" type="text" name="cp" id="cp"
                                           required
                                           placeholder="Codigo Postal"/>
                                </div>

                                <div class="col-4">
                                    <label for="country">Pais</label>
                                    <input th:field="*{pais}"
                                           class="form-control" type="text" name="pais" id="country" required
                                           placeholder="Pais"/>
                                </div>
                                <div class="col-8">
                                    <label for="province">Provincia</label>
                                    <input th:field="*{provincia}"
                                           class="form-control" type="text" name="provincia" id="province" required
                                           placeholder="Provincia"/>
                                </div>

                                <div class="col-12">
                                    <input th:field="*{principal}" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Es esta tu direccion principal?
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex flex-row-reverse mt-2">
                                <button class="btn btn-pc-economic-dark" type="submit">Añadir
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="layout/layout.html :: footer"></footer>
</body>
<div th:replace="layout/layout.html :: jquery"></div>
<script th:src="@{/js/formValidator.js}"></script>
<script>
    $.ajax({
        url: "/api/carrito",
        type: "GET",
        success: function (resp) {
            $("#total").empty();
            $("#total").append(formatCurrency(resp.total));
        }
    })

    $.ajax({
        url: "/api/direccions",
        type: "GET",
        success: function (resp) {
            if (resp.length !== 0) {
                $("#form").empty();
                $("#form").append(
                    "<div class='form-group mt-1 mb-3 row'> <form class='needs-validation' onsubmit='return false' novalidate>" +
                    "<div class='col-12'>" +
                    "<label for='direccion'>Dirección</label>" +
                    "<select class='form-select' id='direccion' required></select>" +
                    "</div>" +
                    "<div class='col-12'>" +
                    "<label for='notas'>Notas</label>" +
                    "<textarea class='form-control' id='notas' rows='3' placeholder='Introduce notas adicionales'></textarea>" +
                    "</div>" +
                    "<div class='mt-2 mb-2 col-12'>" +
                    "</div>" +
                    "<div class='col-12 justify-content-around d-flex'>" +
                    "<button type='button' class='btn btn-pc-economic-default mt-3' data-bs-toggle='modal' data-bs-target='#exampleModal'>Añadir direccion</button>" +
                    "<button type='submit' class='btn btn-pc-economic-dark mt-3' id='enviar'>Seleccionar dirección</button>" +
                    "</div>" +
                    "</form>" +
                    "</div>"
                );

                for (var i = 0; i < resp.length; i++) {
                    if (resp[i].principal === true) {
                        $("#direccion").append(
                            "<option value='" + resp[i].streetandnumber + " " + resp[i].city + " " + resp[i].postalCode + " " + resp[i].country + "' selected>" + resp[i].streetandnumber + " " + resp[i].city + " " + resp[i].postalCode + " " + resp[i].country + "</option>"
                        )
                    } else {
                        $("#direccion").append(
                            "<option value='" + resp[i].streetandnumber + " " + resp[i].city + " " + resp[i].postalCode + " " + resp[i].country + "'>" + resp[i].streetandnumber + " " + resp[i].city + " " + resp[i].postalCode + " " + resp[i].country + "</option>"
                        )
                    }
                }

                $("#enviar").on("click", function () {
                    getDistance($("#direccion").val() + $("#notas").val());
                });

            }
        }
    })

    function validateForm() {
        return !($("#nombre-completo").val() === "" || $("#telefono").val() === "" || $("#email").val() === "" || $("#direccion1").val() === "" || $("#direccion2").val() === "" || $("#codigo-postal").val() === "" || $("#ciudad").val() === "" || $("#pais").val() === "" || $("#provincia").val() === "");
    }

    $("#enviar").on("click", function () {
        if (!validateForm()) return;
        var destination = $("#direccion1").val() + " " + $("#direccion2").val() + " " + $("#ciudad").val() + " " + $("#codigo-postal").val();
        getDistance(destination)
    });


    function getDistance(destination) {
        var metersToKm = 1000;
        var km = 0;

        $("#km").empty();
        if ($("#error").text() !== "") $("#error").empty();

        $.ajax({
            url: "/api/carrito",
            type: "GET",
            beforeSend: function () {
                $("#loading").append("<div class='spinner-border' role='status' id='loading'> <span class='visually-hidden'>Loading...</span> </div>");
            },
            complete: function () {
                $("#loading").hide();
            },
            success: function (resp) {
                $("#prod-carrito").empty();
                var precio = 0;
                var cantidad = 0;
                var pesoTotal = 0;

                for (var id in resp.ids) {
                    $("#prod-carrito").append(
                        "<span class='h4 text-pc-economic-default col-6 text-start' data-idprop='" + resp.ids[id].propietats.id + "'>" + resp.ids[id].quantity + " x " + resp.ids[id].propietats.article.nom + " ( " + formatCurrency(resp.ids[id].propietats.preu) + "/ud ) </span>" +
                        "<span class='h4 text-pc-economic-light col-6'> " + formatCurrency(resp.ids[id].price) + "</span>"
                    );
                    precio += resp.ids[id].price;
                    cantidad += resp.ids[id].quantity;
                    pesoTotal += resp.ids[id].propietats.article.pes * resp.ids[id].quantity;
                }

                $.ajax({
                    url: "/maps",
                    type: "POST",
                    data: {destination: destination},
                    success: function (response) {
                        var json = JSON.parse(response);
                        console.log(json);
                        if (json.rows[0].elements[0].status === "NOT_FOUND") {
                            $("#error").append("<div class=\"alert alert-danger d-flex justify-content-center align-items-center\" role=\"alert\">\n" +
                                " <i class='bi bi-exclamation-triangle' style='font-size: 2rem'></i>" +
                                "  <div> <span class='h5 mx-3'>" +
                                "No se han podido calcular el envío introduce bien los datos." +
                                "</span></div>" +
                                "</div>");
                        } else if (json.rows[0].elements[0].status === "ZERO_RESULTS") {
                            $("#error").append("<div class=\"alert alert-danger d-flex justify-content-evenly align-items-center\" role=\"alert\">\n" +
                                " <i class='bi bi-exclamation-triangle' style='font-size: 2rem'></i>" +
                                "  <div class='ml-1'>" +
                                "No se ha encontrado tu direccion, prueba a poner otra." +
                                "  </div>" +
                                "</div>");
                        } else {

                            var meters = json.rows[0].elements[0].distance.value;
                            km = meters / metersToKm;

                            $.ajax({
                                url: "/api/transport",
                                type: "GET",
                                data: {
                                    pesTotal: pesoTotal,
                                    distanciaTotal: km,
                                    numPaquets: cantidad
                                },
                                success: function (response) {
                                    var envio = JSON.parse(response);
                                    $("#subtotal").text(formatCurrency(resp.total));
                                    $("#envio").text(formatCurrency(envio));
                                    $("#total").text(formatCurrency(resp.total + envio));

                                    $.ajax({
                                        url: "/setpreutransport",
                                        type: "GET",
                                        data: {
                                            preuTransport: envio,
                                            preuTotal: resp.total + envio,
                                            direccio: destination
                                        },
                                        success: function () {
                                            if ($("#finalizar")) $("#finalizar").empty();
                                            $("#buy").empty();
                                            $("#buy").append(
                                                "<a href='/compra' class='btn btn-success btn-lg btn-block col-12 mt-5 mb-5' id='finalizar'>Finalizar compra</a>"
                                            )
                                        }
                                    })
                                }
                            })
                        }
                    }
                })
            }
        });
    }

    function formatCurrency(amount) {
        return amount.toFixed(2).toString().replace(".", ",").replace(/\B(?=(\d{3})+(?!\d))/g, ".") + " €";
    }
</script>

</html>
