<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout.html :: head"></head>
    <head>
        <title th:text="' Direcciones i envio | PCEconomic'"></title>
    </head>
    <nav th:replace="layout/layout.html :: navbar"></nav>
    <body class="bgbd">
        <main class="container-lg bg-cont mt-md-5 mt-1">
            
        </main>
        <footer th:replace="layout/layout.html :: footer"></footer>
    </body>
    <div th:replace="layout/layout.html :: jquery"></div>
    <script>
    </script>
</html>
