<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<head>
    <title>Login | PCEconomic</title>
</head>
<body>
    <header th:replace="layout/layout :: navbar"></header>
    <main class="container">
        <h1 class="text-center">Iniciar sesión</h1>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div class="d-flex justify-content-center">
            <form class="needs-validation w-25" th:action="@{/login}"
                  th:object="${loginForm}" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input th:field="*{email}" type="email" class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input th:field="*{password}" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

        <div class="text-center">
            <a href="/register">Registrarse</a>
            <a href="/forgot-password">¿Olvidaste tu contraseña?</a>
        </div>
    </main>
    <script th:src="@{/js/formvalidator.js}"></script>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>