<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<head>
    <title>Login | PCEconomic</title>
</head>
<body class="bgbd">
    <header th:replace="layout/layout :: header2"></header>
    <main class="container bg-cont mt-5 p-3">
        <h1 class="text-center">Iniciar sesión</h1>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <form class="needs-validation w-25" th:action="@{/login}"
                  th:object="${loginForm}" method="post" novalidate>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input th:field="*{email}" type="email" class="form-control" id="email"
                           placeholder="Correo Electronico"
                           aria-describedby="emailHelp" required>
                    <div class="invalid-feedback">
                        Introduzca su Correo Electronico.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input th:field="*{password}" type="password" class="form-control" id="password"
                           placeholder="Contraseña"
                           required>
                    <div class="invalid-feedback">
                        Introduzca su Contraseña.
                    </div>
                </div>

                <div th:if="${error != null}" class="m-1 alert alert-danger">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:text="${error}"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-pc-economic-dark">Iniciar Session</button>
                </div>
            </form>
        </div>

        <div class="text-center">
            <a th:href="@{/register}">Registrarse</a>
            <a th:href="@{/forgotpassword}">¿Olvidaste tu contraseña?</a>
        </div>
    </main>
    <div th:replace="layout/layout.html :: jquery"></div>
    <script th:src="@{/js/formvalidator.js}"></script>
    <footer th:replace="layout/layout :: footer"></footer>

    <script async defer src="https://accounts.google.com/gsi/client"></script>
    <script>
        window.onload = function () {
            google.accounts.id.initialize({
                client_id:
                    "327064841381-lloi1on6ses7vmjr72h2lptajd3g14fn.apps.googleusercontent.com",
                callback: async (response) => {
                    const credential = response.credential;
                    const responseFetch = await fetch(
                        "/auth/login",
                        {
                            method: "POST",
                            body: credential,
                        }
                    );
                    if (responseFetch.ok) window.location.href = "/";
                    else window.location.href = "/error";
                },
            });
            google.accounts.id.prompt();
        };

        // on form submit call login function
        $("form").on("submit", function (e) {
            e.preventDefault();
            var email = $("#email").val();
            var password = $("#password").val();
            login(email, password);
        });

        function login(email, password) {
            $(document).ready(function () {
                $.ajax({
                    url: "/restlogin",
                    type: "POST",
                    data: {
                        email: email,
                        password: password,
                    },
                    success: function (data) {
                        localStorage.setItem('token', data);
                        window.location.href = "/";
                    },
                });
            });
        }
    </script>

</body>
</html>