<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/layout.html :: head(title='Contraseña Olvidada | PCEconomic', description='Pagina para recuperar la contraseña de PCEconomic')"></head>
<body class="bgbd">
    <header th:replace="layout/layout :: header2"></header>
    <main class="container bg-cont mt-5 p-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center">Recuperar Contraseña</h1>
            <form class="needs-validation col-sm-12 col-xl-4"
                  th:action="@{/forgotpassword}"
                  method="post" novalidate
                  th:object="${sendEmailForm}">

                <div class="row">
                    <div class="col-12">
                        <label class="form-label">Correo Electronico</label>
                        <input th:field="*{email}" type="text" class="form-control" placeholder="Correo Electronico"
                               aria-label="Email Address" required>
                    </div>
                </div>

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-pc-economic-dark">Enviar</button>
                </div>

                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('email')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{email}"></span>
                </div>

                <div class="m-1 alert alert-danger" th:if="${error != null}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:text="${error}"></span>
                </div>

            </form>
        </div>
        <div class="text-center">
            <a th:href="@{/register}">Registrarse</a>
            <a th:href="@{/login}">Iniciar Sesion</a>
        </div>
    </main>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>