<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<head>
    <title>Register | PCEconomic</title>
</head>
<body>
    <header th:replace="layout/layout :: navbar"></header>
    <main class="container">
        <h1 class="text-center">Registrate Aqui!</h1>

        <div class="d-flex justify-content-center">


            <form class="needs-validation w-50" th:action="@{/register}" th:object="${registerForm}" method="post"
                  novalidate>
                <div class="row">
                    <div class="col-12">
                        <label class="form-label">Nombre</label>
                        <input th:field="*{name}" type="text" class="form-control" placeholder="Nombre"
                               aria-label="Name" required>
                        <div class="invalid-feedback">Porfavor, introduce un nombre.</div>
                    </div>
                    <label class="form-label">Apellidos</label>
                    <div class="col-6">
                        <input th:field="*{surname1}" type="text" class="form-control" placeholder="Primer Apellido"
                               aria-label="First name" required>
                        <div class="invalid-feedback">
                            Inserte su primer apellido.
                        </div>
                    </div>
                    <div class="col-6">
                        <input th:field="*{surname2}" type="text" class="form-control" placeholder="Segundo Apellido"
                               aria-label="Last name">
                    </div>
                    <div class="col-6">
                        <label class="form-label">DNI</label>
                        <input th:field="*{dni}" type="text" class="form-control" placeholder="DNI"
                               aria-label="DNI" required>
                        <div class="invalid-feedback">
                            Inserte su DNI.
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Telefono</label>
                        <input th:field="*{telefon}" type="text" class="form-control" placeholder="Telefono"
                               aria-label="Telefon" required>
                        <div class="invalid-feedback">
                            Inserte su telefono.
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Correo Electronico</label>
                        <input th:field="*{email}" type="text" class="form-control" placeholder="Correo Electronico"
                               aria-label="Email Address" required>
                        <div class="invalid-feedback">
                            Inserte su correo electronico.
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Contraseña</label>
                        <input th:field="*{password}" type="password" class="form-control" placeholder="Contraseña"
                               aria-label="Contraseña" required>
                        <div class="invalid-feedback">
                            Inserte su contraseña.
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label">Confirmar Contraseña</label>
                        <input th:field="*{confirmPassword}" type="password" class="form-control"
                               placeholder="Confirmar Contraseña"
                               aria-label="Confirmar Contraseña" required>
                        <div class="invalid-feedback">
                            Confirme su contraseña.
                        </div>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-pc-economic-dark">Registrar</button>
                </div>

                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('name')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{name}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('surname1')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{surname1}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('dni')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{dni}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('telefon')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{telefon}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('email')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{email}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('password')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{password}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${#fields.hasErrors('confirmPassword')}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:errors="*{confirmPassword}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${passwordmatch != null}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:text="${passwordmatch}"></span>
                </div>
                <div class="m-1 alert alert-danger" th:if="${error != null}">
                    <i class='bi bi-exclamation-triangle'></i>
                    <span th:text="${error}"></span>
                </div>
            </form>
        </div>


        <div class="text-center">
            <a th:href="@{/login}">Iniciar sesión</a>
            <a th:href="@{/forgotpassword}">¿Olvidaste tu contraseña?</a>
        </div>

    </main>

    <div th:replace="layout/layout.html :: jquery"></div>
    <script th:src="@{/js/formvalidator.js}"></script>
    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>