<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<head>
    <title>Register | PCEconomic</title>
</head>
<body class="container text-center">
    <header th:replace="layout/layout :: navbar"></header>
    <form th:action="@{/register}" th:object="${registerForm}" method="post">
        <div>
            <label>Nombre: <input type="text" th:field="*{name}"/></label>
        </div>
        <div>
            <label>Email: <input type="text" th:field="*{email}"/></label>
        </div>
        <div>
            <label>Contraseña: <input type="password" th:field="*{password}"/></label>
        </div>
        <div>
            <label>Confirmar contraseña: <input type="password" th:field="*{confirmPassword}"/></label>
        </div>
        <div>
            <input type="submit" value="Registrarse"/>
        </div>
    </form>

    <footer th:replace="layout/layout :: footer"></footer>
</body>
</html>