<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: head"></head>
<head>
    <title th:text="' Lang Generator | PCEconomic'"></title>
</head>

<nav th:replace="layout/layout.html :: navbar"></nav>
<body class="bgbd">
<main class="container-lg bg-cont mt-md-5 mt-1">

    <section id="lang" >
            <select name="langs-select">
            </select>
    </section>
</main>
<footer th:replace="layout/layout.html :: footer"></footer>
</body>
<div th:replace="layout/layout.html :: jquery"></div>
<script>
    $.ajax({
        url: "https://theteacher.codiblau.com/piano/nologin/google/translate/languages",
        type: "POST",
        contentType: "application/json",
        success: function (langs) {
            var select = document.getElementsByName("langs-select");
            for (var i = 0; i < langs.length; i++) {
                var option = document.createElement("option");
                option.value = langs[i].code;
                option.text = langs[i].name;
                select.appendChild(option); 
            }

        }
    });
</script>
</html>